body {
    background: #973b11;
    background: linear-gradient(0deg, #973b11 0%, #f16f33 100%);
    color: #353535;
    font-size: larger;
    font-family: 'Open Sans', Helvetica;
    font-weight: bold;
}

main {
    background: #af572e;
    background: linear-gradient(0deg, #af572e 0%, #fc8d5a 100%);
    border: 3px solid #353535;
    border-radius: 30px;
    margin: 3% 15% 3% 15%;
    padding: 5%;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;

}

h1, h3 {
    border-bottom: 2px solid #353535;
}

@media (max-width: 800px) {

    body {
        font-size: large;
    }
}

@media (max-width: 500px) {

    body {
        font-size: medium;
    }

    main {
        margin: 3% 7% 3% 7%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text], input[type=password] {
        padding: 5px;
        width: 50%;
        font-size: medium;
        margin-left: 1.5em;
    }
}